// Define variables for your color scheme

// For example:
// $primary: #77DAA6;
// $secondary: #ff9194;
$gray: rgba(231, 231, 231, 0.45);
$light-gray: #F2F2F2;
$dark-gray: #111111;


// Colors
$primary:    #77DAA6;
$success:    #ff9194;
