<div class="index-container">
<%# add a search bar %>

  <% @cocktails.sort
                .each do |cocktail| %>
    <%= render 'shared/card', cocktail: cocktail %>
  <% end %>
  
  <div class= "card-container card-plus" data-aos="zoom-out">
    <%= link_to new_cocktail_path do %>
      <i class="fas fa-plus"></i>
    <% end %>
  </div>

</div>