// Import page-specific CSS files here.
@import "components/card";

.index-container{
  margin-top: 1vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(40vh, auto);
  column-gap: 1vw;
  row-gap: 1vh;
}
