.show-container{
  // margin: 0 4vw;
  min-height: calc(100vh - 13vh);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  .cocktail-image{
    width: 100%;
    height: 100%;
    .cocktail-picture{
      object-fit: cover;
      object-position: center;
      width: 100%;
      height: 100%;
    }
    .no-picture{
      background-color: #ff919557;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 4vw;
    }
  }
  .cocktail-infos{
    padding: 4vw;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: space-around;
    .signed{
      display: flex;
      align-items: center;
      justify-content: space-between;
      i{
        font-size: 36px;
      }
    }
    .recipe{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 4vh 0;
      height: 100%;
      width: 100%;
      p{
        margin: 0;
      }
    }
  }
}

.font-plus{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10vh;
}

.font-plus:hover{
  i{
    font-weight: bold;
    color: $success;
  }
}


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 100; /* Sit on top */
  left: 0;
  top: 0;
  width: 100vw; /* Full width */
  min-height: calc(100vh - 13vh);
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(255, 253, 253, 0.25); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border: 1px solid #888;
  width: 50%; 
  color: #F2F2F2;
  display: flex;
  flex-direction: column;
  align-items: center;
  h3{
    margin: 2vh 0;
  }
  .ing-form{
    margin: 2vh 0;
    width: 100%;
    #ing-elements{
      display: flex;
      align-items: center;
      justify-content: space-between;
      .dose_ingredient{
        width: 20%;
      }
    }
  }
}

.font-ing{
  margin: 2vh 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.font-ing .fa-check:hover{
  color: $success;
}
