<nav class="navbar bg-light">
  <div id="nav-container">
    <%= link_to cocktails_path do %>
      <div id="nav-tohome">
        <%= image_tag "jigger.png", alt: "Logo Mixthology", width: 100 %>
        <h1>Mixthology</h1>
      </div>
    <% end %>
  </div>
</nav>