@import "components/avatar";

.nav-blured {
  background-color: rgba(255, 255, 255, 0.04);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

#nav-container {
  margin-right: 5vw;
  margin-left: 5vw;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  i{
    font-size: 4vh;
    font-weight: bold;
    color: $light-gray;
  }
}
