@import "components/avatar";

.nav-blured {
  background-color: #1c1c1cde;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

#nav-container {
  margin-right: 4vw;
  margin-left: 4vw;
  width: 100vw;
  height: 7vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  i{
    font-size: 4vh;
    font-weight: bold;
    color: $light-gray;
  }
}

.sticky-top {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1020;
}