@import "components/avatar";

.nav-blured {
  background-color: rgba(255, 255, 255, 0.05);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

#nav-container {
  margin-right: 4vw;
  margin-left: 4vw;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  i{
    font-size: 4vh;
    font-weight: bold;
    color: $light-gray;
  }
  #logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2vh;
    height: 3vh;
  }
}
