// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "components/show";
@import "pages/index";
@import 'select2/dist/css/select2';

$secondary: #182121;

body {
  background-color: #121c1ceb;;
  color: white;
}